li{
  float: left;
  display:block;
  text-align: center;
  padding: 14px 15px;
  text-decoration:underline;
  overflow: hidden;
  background-color: rgb(127, 180, 194);
  height: auto;
}
li:hover
{
  
background-color: rgb(14, 13, 13);
  color: rgb(6, 139, 216);
  text-align: center;
  padding: 15px;
  height: auto;
} 

nav{
  background-color: rgb(49, 17, 85);
  height: auto;
}
h3{
  padding-left: 15cm;
  padding-bottom: 2cm;
}
th{
  color: rgb(236, 13, 80);
}
strong{
  color: rgb(236, 13, 80);
  padding-left: 3cm;
}
td{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
}